.auth-container{
    background-image: url(../src/assets/images/ella-olsson-C1Q3qOTlegg-unsplash\ 1.png);
    background-size: cover;
    background-position: center center;

}
.overlay{
    background: linear-gradient(45deg, rgba(55, 140, 47, 0.413), rgba(0, 0, 0, 0.436));
}

.auth-button{
    background-color: rgba(74, 163, 90, 1)      !important; 
}
.orginialGreenBg{
    background-image: url(../src/assets/images/Untitled\ design.png);
    background-size: cover;
    background-position: center center;

}

.sideContainer .ps-sidebar-container{
    background-color: rgba(31, 38, 62, 1);
    height: 100vh;
    border-top-right-radius: 50px 50px;
}

.sideContainer .ps-menu-button{
    color: white !important;
    transition: 300ms all;
   
}

.sideContainer .ps-menu-button:hover{
    background-color:rgba(0, 146, 71, 0.1) !important ;
    border-left: 4px solid rgba(0, 146, 71, 1);
 
}

.sideContainer .sidebarLogo a:hover{
    background-color: transparent !important;
    border: none;

}
.sideContainer .sidebarLogo a{
    padding: 0 !important;
    

}
.sideContainer .ps-menu-button img{
    width: 80px;
    
}
.headingStyle{
    display: inline;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    padding-left: 30px;
    
}
.headingStyle2{
    display: inline;
    font-size: 32px;
    font-weight: 400;
}
.paragraphStyle{
    margin-top: 20px;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
     padding-left: 30px;

}
.dashboardFooter span{
    color: rgba(0, 146, 71, 1);
}
.dashboardFooter{
    background-color: rgba(240, 255, 239, 1);
    padding: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
.speacingCaption{
    padding-left: 30px;
}
.dashboardFooter p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(31, 38, 62, 1);
}
.btnStyle {
    background-color: rgba(0, 146, 71, 1) !important;
    padding: 5px 40px !important;
    
}
.categoryParagaph{
    font-size: 14px;
    font-weight: 600;
    color: rgb(60, 71, 107);
}
.headCatgory{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
}

.item-img{
    width: 60px;
    border-radius: 50%;
}
.yarab a{
    color: white;
}

.bg-notFound{
    
    background-image: url(../src/assets/images/Vector.png);
    background-size: cover;
    background-position: center center;
    
}
.errorIconImg{
    padding-left: 60px;
    padding-top: 40px;
}
.errorCaption{
    margin-top: 40px;
    margin-left: 90px;
}
.fstErrorHeading{
    font-family: Inter;
font-weight: 700;
font-size: 120px;
line-height: 100%;
letter-spacing: 0%;

}

.secErrorHeading{
    font-family: Inter;
font-weight: 400;
font-size: 120px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 146, 71, 1);
}

.errorCaption p{
    padding-top: 15px;
    font-family: Inter;
font-weight: 400;
font-size: 35px;
line-height: 24px;
letter-spacing: 4%;
color: rgba(31, 38, 62, 1);
}
.errorbtn{
    width: 50% !important;
    color: white !important;
    margin-top: 40px;
    padding: 20px 40px !important;
    font-size: 30px !important;
    border-radius: 10px !important;
    text-decoration: none;
}
.errorbtn a{
    text-decoration: none;
    color: white;
}




.imgerror404 img{
    width: 1000px;

}








